<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestures</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="window-content">
        <div class="gesture-enable">
            <p class="info"><b>Enable</b> or <b>disable</b> the gestures tracking functionality</p>
            <button class="btn btn-native">Enable/Disable</button>
        </div>
        <div class="gesture-recalibrate">
            <p class="info">Start the recalibration wizard for the gesture tracking system</p>
            <button class="btn btn-native">Recalibrate</button>
        </div>
    </div>
</body>
</html>
