<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="window-content">
        <fieldset>
            <legend>Web Server</legend>
            <p>
                <label>Address:
                    <input type="text" />
                </label>
            </p>
            <p>
                <label>Port:
                    <input type="text" />
                </label>
            </p>
        </fieldset>
        <fieldset>
            <legend>About</legend>
            <p>Expanse is a program for virtualizing your desktop windows in a 3D environment using Three.JS and Google Cardboard. See <a href="http://github.com/joshpaulchan/expanse">the source code</a> for more info.
            </p>
        </fieldset>
    </div>
</body>

</html>
