<!DOCTYPE html>
<html>
<head>
    <title>Window</title>
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="window-content">
        <div class="button-group">
            <button class="btn btn-native">Enable All</button>
            <button class="btn btn-native">Disable All</button>
        </div>
        <table class="window-list">
            <thead>
                <tr>
                    <th>Show</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>Chrome</td>
                </tr>
                <!-- <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>Chrome</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>Chrome</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>Chrome</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</body>
</html>
